.link
{
	text-align: center;
}
.hwy
{
	text-align: center;
}
ul
{
	font-size: 18px;
}
.io
{
	font-size: 18px;
}
*
{
	font-family: Montserrat;
}
.ce
{
	text-align: center;
	font-size: 50px;
}